@font-face {
    font-family: "Super Mario Kart";
    src: url(super-mario-kart.ttf) format("truetype");
}

body {
	margin: 0;
	padding: 0;
	height: 100vh;
}
.primeiro{
    animation: aparecer 1s ease 1 normal;
}
.wrapper{
	box-sizing: border-box;
	background: url(fundo.png);
	background-repeat: repeat;
	width: 100%;
	margin: 0;
	text-align: center;
	height: 100vh;
	padding-top: 28px;
	animation: animate 4s linear infinite;
}

.wrapper p{
	display: inline;
	color: #3480ef;
	font-family: "Super Mario Kart";
	font-size: 28px;	
	padding-top: 28px;
	text-shadow:
	-3.5px -3.5px 0 white,
   0   -3.5px 0 white,
   3.5px -3.5px 0 white,
   3.5px  0   0 white,
   3.5px  3.5px 0 white,
   0    3.5px 0 white,
  -3.5px  3.5px 0 white,
  -3.5px  0   0 white,
  -3.5px -3.5px 0 white,
   0   -3.5px 0 white,
   3.5px -3.5px 0 white,
   3.5px  0   0 white,
   3.5px  3.5px 0 white,
   0    3.5px 0 white,
  -3.5px  3.5px 0 white,
  -3.5px  0   0 white,
  -3.5px -3.5px 0 white,
   0   -3.5px 0 white,
   3.5px -3.5px 0 white,
   3.5px  0   0 white,
   3.5px  3.5px 0 white,
   0    3.5px 0 white,
  -3.5px  3.5px 0 white,
  -3.5px  0   0 white,
  -3.5px -3.5px 0 white,
   0   -3.5px 0 white,
   3.5px -3.5px 0 white,
   3.5px  0   0 white,
   3.5px  3.5px 0 white,
   0    3.5px 0 white,
  -3.5px  3.5px 0 white,
  -3.5px  0   0 white;	
  margin: 0;
  animation: aparecer 1s ease 1 normal;
}

 @keyframes aparecer {
        0% {
            opacity: 0;
        }
        99% {
            opacity: 0;
        }
        100% {
            opacity: 1;
        }
    }

@keyframes animate{
	from{
		background-position: 0 0;
	}
	to{
		background-position: 1280px 0;
	}
}