@font-face {
    font-family: "Super Mario Kart";
    src: url(super-mario-kart.ttf) format("truetype");
}
@-moz-document url-prefix() {
    .wrapper p {
        padding-top:12px;
    }
}

body {
	margin: 0;
	padding: 0;
	height: 100vh;
}
.seg-tela{
    margin-top:-405px;
}
.ter-tela{
    margin-top:-405px;
}
.qua-tela{
    margin-top:-405px;
}
div.primeiro p{
    color: #3480ef;
    opacity: 0;
    animation: aparecer-teste 40s linear 1 normal forwards;
    animation-iteration-count: infinite;
    /*animation: sumir 3s linear 10s 1 normal forwards;*/
}
div#segundo p{
    color: #00cc00;
    opacity: 0;
    animation: aparecer-teste 40s ease 0.15s  1 normal forwards;
    animation-iteration-count: infinite;   
}
div.terceiro p{
    color: #fe9c05;
    opacity: 0;
    animation: aparecer-teste 40s ease 0.30s 1 normal forwards;
    animation-iteration-count: infinite;
}
div.quarto p{
    color:#40e0d0;
    opacity: 0;
    animation: aparecer-teste 40s ease 0.45s 1 normal forwards;
    animation-iteration-count: infinite;
    
}
div.quinto p{
    color: #d2053d;
    opacity: 0;
    animation: aparecer-teste 40s ease 0.6s 1 normal forwards;
    animation-iteration-count: infinite;
}
div.sexto p{
    color: #ffcb05;
    text-shadow:black;
    opacity: 0;
    animation: aparecer-teste 40s ease 0.75s 1 normal forwards;
    animation-iteration-count: infinite;
}
div.setimo p{
    color: #4B0082;
    opacity: 0;
    animation: aparecer-teste 40s ease 0.9s 1 normal forwards;
    animation-iteration-count: infinite;
}
div.oito p{
    color: #d2053d;
    opacity:0;
    animation: aparecer-teste 40s ease 10.9s 1 normal; 
    animation-iteration-count: infinite;
}
div.nove p{
    color: #d2053d;
    opacity:0;
    animation: aparecer-teste 40s ease 10.75s 1 normal; 
    animation-iteration-count: infinite;
}
div.dez p{
    color:#d2053d;
    opacity:0;
    animation: aparecer-teste 40s ease 10.6s 1 normal;    
    animation-iteration-count: infinite;
}
div.onze p{
    color:#d2053d;
    opacity:0;
    animation: aparecer-teste 40s ease 10.45s 1 normal;    
    animation-iteration-count: infinite;
}
div.doze p{
    opacity:0;
    color: #8B00FF;
    animation: aparecer-teste 40s ease 10.3s 1 normal;    
    animation-iteration-count: infinite;
}
.treze{
    opacity:0;
    animation: aparecer-teste 40s ease 10.15s 1 normal;    
    animation-iteration-count: infinite;
}
.catorze{
    opacity:0;
    animation: aparecer-teste 40s ease 10s 1 normal;    
    animation-iteration-count: infinite;
}

.quinze{
    opacity: 0;
    animation: aparecer-teste 40s linear 20s 1 normal forwards;
    animation-iteration-count: infinite;
    /*animation: sumir 3s linear 40s 1 normal forwards;*/
}
.dezesseis{
    opacity: 0;
    animation: aparecer-teste 40s ease 20.15s 1 normal forwards;
    animation-iteration-count: infinite;
}
.dezessete{
    opacity: 0;
    animation: aparecer-teste 40s ease 20.3s 1 normal forwards;
    animation-iteration-count: infinite;
    
}
.dezoito{
    opacity: 0;
    animation: aparecer-teste 40s ease 20.45s 1 normal forwards;
    animation-iteration-count: infinite;
}
.dezenove{
    opacity: 0;
    animation: aparecer-teste 40s ease 20.6s 1 normal forwards;
    animation-iteration-count: infinite;
}
.vinte{
    opacity: 0;
    animation: aparecer-teste 40s ease 20.75s 1 normal forwards;
    animation-iteration-count: infinite;
}
.vinte-um{
    opacity: 0;
    animation: aparecer-teste 40s ease 20.9s 1 normal forwards;
    animation-iteration-count: infinite;
}
.vinte-dois{
    opacity:0;   
    animation: aparecer-teste 40s ease 30.75s 1 normal; 
    animation-iteration-count: infinite;
}
.vinte-tres{
    opacity:0;
    animation: aparecer-teste 40s ease 30.6s 1 normal; 
    animation-iteration-count: infinite;
}
.vinte-quatro{
    opacity:0;
    animation: aparecer-teste 40s ease 30.45s 1 normal;    
    animation-iteration-count: infinite;
}
.vinte-cinco{
    opacity:0;
    animation: aparecer-teste 40s ease 30.3s 1 normal;    
    animation-iteration-count: infinite;
}
.vinte-seis{
    opacity:0;
    animation: aparecer-teste 40s ease 30.15s 1 normal;    
    animation-iteration-count: infinite;
}
.vinte-sete{
    opacity:0;
    animation: aparecer-teste 40s ease 30s 1 normal;    
    animation-iteration-count: infinite;
}

.wrapper{
	box-sizing: border-box;
    background: url(fundo-fhd.png);
    background-size:auto;
	background-repeat: repeat;
	width: 100%;
	margin: 0;
	text-align: center;
	height: 100vh;
	padding-top: 28px;
	animation: animate 4s linear infinite;
}
.wrapper p{
    color: white;
	display: inline;
	font-family: "Super Mario Kart";
	font-size: 28px;	
    -webkit-padding-before: 28px;
    
	text-shadow:
	-3.5px -3.5px 0 #3480ef,
   0   -3.5px 0 #3480ef,
   3.5px -3.5px 0 #3480ef,
   3.5px  0   0 #3480ef,
   3.5px  3.5px 0 #3480ef,
   0    3.5px 0 #3480ef,
  -3.5px  3.5px 0 #3480ef,
  -3.5px  0   0 #3480ef,
  -3.5px -3.5px 0 #3480ef,
   0   -3.5px 0 #3480ef,
   3.5px -3.5px 0 #3480ef,
   3.5px  0   0 #3480ef,
   3.5px  3.5px 0 #3480ef,
   0    3.5px 0 #3480ef,
  -3.5px  3.5px 0 #3480ef,
  -3.5px  0   0 #3480ef,
  -3.5px -3.5px 0 #3480ef,
   0   -3.5px 0 #3480ef,
   3.5px -3.5px 0 #3480ef,
   3.5px  0   0 #3480ef,
   3.5px  3.5px 0 #3480ef,
   0    3.5px 0 #3480ef,
  -3.5px  3.5px 0 #3480ef,
  -3.5px  0   0 #3480ef,
  -3.5px -3.5px 0 #3480ef,
   0   -3.5px 0 #3480ef,
   3.5px -3.5px 0 #3480ef,
   3.5px  0   0 #3480ef,
   3.5px  3.5px 0 #3480ef,
   0    3.5px 0 #3480ef,
  -3.5px  3.5px 0 #3480ef,
  -3.5px  0   0 #3480ef;	
  margin: 0;
}
#pontinho{
    font-size: 40px;
    text-shadow:none;
    -webkit-text-stroke: 1px white;
    letter-spacing: -22px;
}
div .custom-shadow p{
    text-shadow:
	-3.5px -3.5px 0 white,
   0   -3.5px 0 white,
   3.5px -3.5px 0 white,
   3.5px  0   0 white,
   3.5px  3.5px 0 white,
   0    3.5px 0 white,
  -3.5px  3.5px 0 white,
  -3.5px  0   0 white,
  -3.5px -3.5px 0 white,
   0   -3.5px 0 white,
   3.5px -3.5px 0 white,
   3.5px  0   0 white,
   3.5px  3.5px 0 white,
   0    3.5px 0 white,
  -3.5px  3.5px 0 white,
  -3.5px  0   0 white,
  -3.5px -3.5px 0 white,
   0   -3.5px 0 white,
   3.5px -3.5px 0 white,
   3.5px  0   0 white,
   3.5px  3.5px 0 white,
   0    3.5px 0 white,
  -3.5px  3.5px 0 white,
  -3.5px  0   0 white,
  -3.5px -3.5px 0 white,
   0   -3.5px 0 white,
   3.5px -3.5px 0 white,
   3.5px  0   0 white,
   3.5px  3.5px 0 white,
   0    3.5px 0 white,
  -3.5px  3.5px 0 white,
  -3.5px  0   0 white;
}
@keyframes aparecer {
        0% {
            opacity: 0;
        }
        9.9% {
            opacity: 0;
        }
        10% {
            opacity: 1;
        }
        99.9% {
            opacity: 1;
        }
        100% { 
            opacity: 0;
            display: none;
        }
}
@keyframes aparecer-teste {
    0% {
        opacity: 0;
    }
    2.4% {
        opacity: 0;
    }
    2.5% {
        opacity: 1;
    }
    24.9% {
        opacity: 1;
    }
    25% {
        opacity: 0;
    }
}

@keyframes sumir {
    0% {
        opacity: 1;
    }
    99.9% {
        opacity: 0;
    }
    100% {
        opacity: 0;
    }
}

@keyframes animate{
	from{
		background-position: 0 0;
	}
	to{
		background-position: 1280px 0;
	}
}